<!-- routing navigation -->
<div style="margin:20px 40px 60px 40px;">
    <button class="btn btn-success" ng-click="GenerateReportClicked()">Generate Report</button>
</div>

<!-- allforms start -->
<div id="allforms">

    <!-- CT form start -->
    <div class="data-entry-tables-wrapper table-responsive"  ng-controller="CTFormCtrl">
        <form name="{{form.name}}">
            <div class="img-rounded exam-table-title">{{form.name}}</div>
            <button class="btn btn-link" ng-click="createRow()">+ Add Exam</button>
            <div class="data-entry-table">
            <table class="table table-hover table-condensed">
                <tr><th class="exam-headers" ng-repeat="header in form.headers">{{header}}</th></tr>
                <tr ng-repeat="exam in form.exams">
                    <td class="text-center vert-align study-number">{{$index + 1}}</td>
                    <td>
                        <select class="form-control" ng-model="exam.exam" ng-options="examInfo.name as examInfo.name for examInfo in allProcedures()">
                            <option value="">Please select procedure...</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="number" ng-model="exam.scans" min="0" /></td>
                    <td class="soe-label vert-align">
                        <input id="soc.{{form.name}}" type="checkbox" style="margin-right:4px;" ng-model="exam.soc" ng-init="checked=false" />
                        <label for="soc.{{form.name}}" class="socLabel" for="squaredFour">Yes</label>
                    </td>
                    <td>
                        <select class="form-control" ng-model="exam.gender">
                            <option value="mixed" selected>None</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="number" ng-model="exam.ede" value="{{calculateEDE(exam)}}" ng-readonly="true" /></td>
                    <td class="text-center vert-align">
                       <button type="button" class="close" ng-click="removeProcedure(exam.id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                   </td>
                </tr>
                <tr>
                    <td class="totalsRowLabel" colspan="5">Total additional EDE</td>
                    <td colspan="2">{{edeTotalWithoutSOC()}}</td>
                </tr>
                <tr>
                    <td class="totalsRowLabel" colspan="5">Total EDE including Standard of Care</td>
                    <td colspan="2">{{edeTotal()}}</td>
                </tr>
            </table>
            </div>
        </form>
    </div>
    <!-- CT form end -->

    <!-- NM form start -->
    <div class="data-entry-tables-wrapper table-responsive"  ng-controller="NMFormCtrl">
        <form name="{{form.name}}">
            <div class="img-rounded exam-table-title">{{form.name}}</div>
            <button class="btn btn-link" ng-click="createRow()">+ Add Exam</button>
            <div class="data-entry-table">
            <table class="table table-hover table-condensed">
                <tr><th class="exam-headers" ng-repeat="header in form.headers">{{header}}</th></tr>
                <tr ng-repeat="exam in form.exams">
                    <td class="text-center vert-align study-number">{{$index + 1}}</td>
                    <td>
                        <select class="form-control" ng-model="exam.exam" ng-options="examInfo.name as examInfo.name for examInfo in allProcedures()">
                            <option value="">Please select procedure...</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="number" ng-model="exam.scans" min="0" /></td>
                    <td class="soe-label vert-align">
                        <input id="soc.{{form.name}}" type="checkbox" style="margin-right:4px;" ng-model="exam.soc" ng-init="checked=false" />
                        <label for="soc.{{form.name}}" class="socLabel" for="squaredFour">Yes</label>
                    </td>
                    <td>
                        <select class="form-control" ng-model="exam.gender">
                            <option value="mixed" selected>None</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="number" ng-model="exam.injectedDose" min="0" /></td>
                    <td><input class="form-control" type="number" ng-model="exam.ede" value="{{calculateEDE(exam)}}" ng-readonly="true" /></td>
                    <td class="text-center vert-align">
                       <button type="button" class="close" ng-click="removeProcedure(exam.id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                   </td>
                </tr>
                <tr>
                    <td class="totalsRowLabel" colspan="6">Total additional EDE</td>
                    <td colspan="2">{{edeTotalWithoutSOC()}}</td>
                </tr>
                <tr>
                    <td class="totalsRowLabel" colspan="6">Total EDE including Standard of Care</td>
                    <td colspan="2">{{edeTotal()}}</td>
                </tr>
            </table>
            </div>
        </form>
    </div>
    <!-- NM form end -->

    <!-- XRay form start -->
    <div class="data-entry-tables-wrapper table-responsive"  ng-controller="XRayFormCtrl">
        <form name="{{form.name}}">
            <div class="img-rounded exam-table-title">{{form.name}}</div>
            <button class="btn btn-link" ng-click="createRow()">+ Add Exam</button>
            <div class="data-entry-table">
            <table class="table table-hover table-condensed">
                <tr><th class="exam-headers" ng-repeat="header in form.headers">{{header}}</th></tr>
                <tr ng-repeat="exam in form.exams">
                    <td class="text-center vert-align study-number">{{$index + 1}}</td>
                    <td>
                        <select class="form-control" ng-model="exam.exam" ng-options="examInfo.name as examInfo.name for examInfo in allProcedures()">
                            <option value="">Please select procedure...</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="number" ng-model="exam.scans" min="0" /></td>
                    <td class="soe-label vert-align">
                        <input id="soc.{{form.name}}" type="checkbox" style="margin-right:4px;" ng-model="exam.soc" ng-init="checked=false" />
                        <label for="soc.{{form.name}}" class="socLabel" for="squaredFour">Yes</label>
                    </td>
                    <td>
                        <select class="form-control" ng-model="exam.gender">
                            <option value="mixed" selected>None</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="number" ng-model="exam.ede" value="{{calculateEDE(exam)}}" ng-readonly="true" /></td>
                    <td class="text-center vert-align">
                       <button type="button" class="close" ng-click="removeProcedure(exam.id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                   </td>
                </tr>
                <tr>
                    <td class="totalsRowLabel" colspan="5">Total additional EDE</td>
                    <td colspan="2">{{edeTotalWithoutSOC()}}</td>
                </tr>
                <tr>
                    <td class="totalsRowLabel" colspan="5">Total EDE including Standard of Care</td>
                    <td colspan="2">{{edeTotal()}}</td>
                </tr>
            </table>
            </div>
        </form>
    </div>
    <!-- XRay form end -->

    <!-- Flouroscopy form start -->
    <div class="data-entry-tables-wrapper table-responsive"  ng-controller="FlouroscopyFormCtrl">
        <form name="{{form.name}}">
            <div class="img-rounded exam-table-title">{{form.name}}</div>
            <button class="btn btn-link" ng-click="createRow()">+ Add Exam</button>
            <div class="data-entry-table">
            <table class="table table-hover table-condensed">
                <tr><th class="exam-headers" ng-repeat="header in form.headers">{{header}}</th></tr>
                <tr ng-repeat="exam in form.exams">
                    <td class="text-center vert-align study-number">{{$index + 1}}</td>
                    <td>
                        <select class="form-control" ng-model="exam.exam" ng-options="examInfo.name as examInfo.name for examInfo in allProcedures()">
                            <option value="">Please select procedure...</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="number" ng-model="exam.scans" min="0" /></td>
                    <td class="soe-label vert-align">
                        <input id="soc.{{form.name}}" type="checkbox" style="margin-right:4px;" ng-model="exam.soc" ng-init="checked=false" />
                        <label for="soc.{{form.name}}" class="socLabel" for="squaredFour">Yes</label>
                    </td>
                    <td>
                        <select class="form-control" ng-model="exam.gender">
                            <option value="mixed" selected>None</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                    </td>
                    <td><input class="form-control" type="number" ng-model="exam.minutes" min="0" /></td>
                    <td><input class="form-control" type="number" ng-model="exam.ede" value="{{calculateEDE(exam)}}" ng-readonly="true" /></td>
                    <td class="text-center vert-align">
                       <button type="button" class="close" ng-click="removeProcedure(exam.id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                   </td>
                </tr>
                <tr>
                    <td class="totalsRowLabel" colspan="6">Total additional EDE</td>
                    <td colspan="2">{{edeTotalWithoutSOC()}}</td>
                </tr>
                <tr>
                    <td class="totalsRowLabel" colspan="6">Total EDE including Standard of Care</td>
                    <td colspan="2">{{edeTotal()}}</td>
                </tr>
            </table>
            </div>
        </form>
    </div>
    <!-- Flouroscopy form end -->

    <div id="consentTextContainer" class="alert-heading">
        <div id="consentTextTitle" class="img-rounded exam-table-title">Supplemental Consent Language</div>
        <textarea id="consentText" class="form-control" ng-model="supplementalConsentLanguage"></textarea>
    </div>

</div>
<!-- allforms end