<div ng-controller="DataEntryCtrl">

    <!-- help text -->
    <div class="notice notice-box">
        <p>
            This tool will help you estimate the total amount of radiation your protocol will administer to patients.<br>
            <ul>
                <li>Click <span class="fake-btn-link">+ Add Exam</span> for the appropriate exam types in your protocol. Then add the protocol-specific data for each exam.<br>The calculator will show a running total per exam type as you add exams.</li>
                <li>At the bottom of the page, you may add supplemental consent language for your protocol.</li>
                <li>When you have added all your exams, click 'Generate Report' to prepare your report for the Radiation Safety Committee.</li>
            </ul>
        </p>
    </div>

    <form name="DataEntryForm" novalidate>
        <!-- routing navigation -->
        <div class="no-print" style="margin:20px 40px 30px 70px;">
            <button class="btn standard-btn generate-report" ng-click="GenerateReportClicked()" ng-disabled="(allProcedures.length<1 || DataEntryForm.$invalid)">
                <span class="glyphicon glyphicon-align-justify icon-left"></span> Generate Report
            </button>
            <button class="btn btn-link reset-all" confirmed-click="ResetAll()" ng-confirm-click="Remove all exams from the calculation?" ng-disabled="(allProcedures.length<1 || DataEntryForm.$invalid)">
                Remove all exams
            </button>
        </div>

        <!-- allforms start -->
        <div id="allforms">
                <div class="data-entry-tables-wrapper table-responsive">
                    
                    <ct-table></ct-table>
                    <nm-table></nm-table>
                    <xray-table></xray-table>
                    <fluoro-table ng-hide="hideFluoro"></fluoro-table>
                    
                </div>
        </div>
        <!-- allforms end -->

        <div id="consentTextContainer" class="alert-heading">
            <div id="consentTextTitle">Supplemental Consent Language (Optional)</div>
            <textarea id="consentText" class="form-control" ng-model="supplementalConsentLanguage"></textarea>
        </div>

        <div style="margin:20px 40px 30px 70px;">
            <button class="btn standard-btn generate-report" ng-click="GenerateReportClicked()" ng-disabled="(allProcedures.length<1 || DataEntryForm.$invalid)">
                <span class="glyphicon glyphicon-align-justify icon-left"></span> Generate Report
            </button>
        </div>

        <div style="margin:20px 40px 30px 70px; text-align:center;">
            For Assistance or Questions, <a href="mailto:{{helpEmailAddress}}">Contact Us</a>
        </div>

    </form>

</div>