<div ng-controller="ReportCtrl">

    <div class="report-wrapper">

        <div class="button-row no-print">
            <button class="btn standard-btn back-to-data" ng-click="DataEntryClicked()"><span class="glyphicon glyphicon-arrow-left"></span> Back to data</button>
            <button class="btn standard-btn plaintext" ng-click="FormattedReportClicked()">Formatted</button>
            <button class="btn standard-btn print" ng-click="Print()">Print</button>
        </div>

        <div class="plaintext">

            <div class="heading">Radiation Dose Calculator</div>
            <pre class="tables">
                {{plainTextTables()}}
            </pre>

            <div class="heading">Consent Narrative</div>
            <div class="content">{{consentNarrative()}}</div>

            <div class="heading">Supplemental Consent Narrative</div>
            <div class="content">{{getSupplementalConsentText()}}</div>

            <div class="heading">Citations</div>
            <div class="content" ng-repeat="citation in getPlainTextCitations()">{{citation}}</div>

        </div>

    </div>

</div>
    
    
