/****************** GENERAL ******************/
body {
    color:#000000;
    background-color: #ffffff;
}

a {
    color:#308EB3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*********************************************/


/*****************  HEADER  ******************/
header {
    color: #FFFFFF;
    background-color: #1295D8;
}

div#logo {
    background-image: url("/img/radsym2.png");
    background-repeat: no-repeat;
    height:43px;
    width:46px;
}

div#title {
    background-color: #1295D8;
    color:#ffffff;
    top : 0.2em;
}
/*********************************************/


/*****************  FOOTER  ******************/
footer {
    color: #4d4d4d;
    background-color: #1295D8;
}
/*********************************************/


/*****************  BUTTONS  *****************/
button.standard-btn {
    background-color: #18A3AC;
    border: 1px solid #138289;
    color: #FFFFFF;
}

button.standard-btn:hover {
    background-color: #5DBFC5;
    border: 1px solid #5DBFC5;
    color: #E1E3E6;
}

button.generate-report {
    background-color: #00778B;
    border: 1px solid #056778;
    color: #FFFFFF;
}

button.generate-report:hover {
    background-color: #00A3AD;
    border: 1px solid #00A3AD;
    color: #DBD5CD;
}

button.back-to-data {
    background-color: #00778B;
    border: 1px solid #056778;
    color: #FFFFFF;
}

button.back-to-data:hover {
    background-color: #00A3AD;
    border: 1px solid #00A3AD;
    color: #DBD5CD;
}

button.plaintext {
    background-color: #FF6E1B;
    border: 1px solid #D05916;
    color: #FFFFFF;
}

button.plaintext:hover {
    background-color: #FF8F28;
    border: 1px solid #FF8F28;
    color: #DBD5CD;
}

button.print {
    background-color: #FF6E1B;
    border: 1px solid #D05916;
    color: #FFFFFF;
}

button.print:hover {
    background-color: #FF8F28;
    border: 1px solid #FF8F28;
    color: #DBD5CD;
}

button.green {
    background-color: #ffffff;
    border: 1px solid #11ab00;
    color: #11ab00;
}

button.green:hover {
    background-color: #11ab00;
    border: 1px solid #11ab00;
    color: #ffffff;
}

button.red {
    background-color: #ffffff;
    border: 1px solid #aa1111;
    color: #aa1111;
}

button.red:hover {
    background-color: #aa1111;
    border: 1px solid #aa1111;
    color: #ffffff;
}

/* label buttons */
label.red {
    background-color: #ffffff;
    border: 1px solid #aa1111;
    color: #aa1111;
}

label.red:hover {
    background-color: #aa1111;
    border: 1px solid #aa1111;
    color: #ffffff;
}

label.red:active, label.red.active {
    background-color: #aa1111;
    border: 1px solid #aa1111;
    color: #ffffff;
}

label.green {
    background-color: #ffffff;
    border: 1px solid #11ab00;
    color: #11ab00;
}

label.green:hover {
    background-color: #11ab00;
    border: 1px solid #11ab00;
    color: #ffffff;
}

label.green:active, label.green.active {
    background-color: #11ab00;
    border: 1px solid #11ab00;
    color: #ffffff;
}

label.blue {
    background-color: #ffffff;
    border: 1px solid #3498DB;
    color: #3498DB;
}

label.blue:hover {
    background-color: #3498DB;
    border: 1px solid #3498DB;
    color: #ffffff;
}

label.blue:active, label.blue.active {
    background-color: #3498DB;
    border: 1px solid #3498DB;
    color: #ffffff;
}

label.orange {
    background-color: #ffffff;
    border: 1px solid #E67E22;
    color: #E67E22;
}

label.orange:hover {
    background-color: #E67E22;
    border: 1px solid #E67E22;
    color: #ffffff;
}

label.orange:active, label.orange.active {
    background-color: #E67E22;
    border: 1px solid #E67E22;
    color: #ffffff;
}

label.yellow {
    background-color: #ffffff;
    border: 1px solid #F1C40F;
    color: #F1C40F;
}

label.yellow:hover {
    background-color: #F1C40F;
    border: 1px solid #F1C40F;
    color: #ffffff;
}

label.yellow:active, label.yellow.active {
    background-color: #F1C40F;
    border: 1px solid #F1C40F;
    color: #ffffff;
}

label.gray {
    background-color: #ffffff;
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
}

label.gray:hover {
    background-color: #797979;
    border: 1px solid #797979;
    color: #ffffff;
}

label.gray:active, label.gray.active {
    background-color: #4d4d4d;
    border: 1px solid #4d4d4d;
    color: #ffffff;
}
/*********************************************/


/****************** TABLES *******************/
div.exam-table-header-border {
    border-bottom-color:#FFB511;
}

div.exam-table-title {
    color:#ffffff;
    background-color: #FFB511;
    border: 1px solid #FFB511;
    color: #ffffff;
}

table.table-borders-report th,
table.table-borders-report tr,
table.table-borders-report td {
    border-color: #005581;
    background-color: #FFFFFF;
}
/*********************************************/


/************  PLAINTEXT REPORT  *************/
pre.plaintext {
    color: #000000;
    background-color: #efefef;
    border-color: #4d4d4d;
}
/*********************************************/


/***************  EDIT DATA  *****************/
div.add-procedure {
    border-color: #11ab00;
}
div.panel-default > .add-procedure-heading {
    background: #11ab00;
    color: #ffffff;
}
/*********************************************/