/****************** GENERAL ******************/
body {
    color:#000000;
    background-color: #ffffff;
}

a {
    color:#308EB3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*********************************************/


/*****************  HEADER  ******************/
header {
    color: #4d4d4d;
    background-color: #052049;
}

div#logo {
    background-image: url("/img/radsym1.png");
    background-repeat: no-repeat;
    height:43px;
    width:46px;
}

div#title {
    background-color: #052049;
    color:#ffffff;
    top : 0.2em;
}
/*********************************************/


/*****************  FOOTER  ******************/
footer {
    color: #4d4d4d;
    background-color: #052049;
}
/*********************************************/


/*****************  BUTTONS  *****************/
button.standard-btn {
    background-color: #18A3AC;
    border: 1px solid #138289;
    color: #FFFFFF;
}

button.standard-btn:hover {
    background-color: #5DBFC5;
    border: 1px solid #5DBFC5;
    color: #E1E3E6;
}

button.generate-report {
    background-color: #18A3AC;
    border: 1px solid #138289;
    color: #FFFFFF;
}

button.generate-report:hover {
    background-color: #5DBFC5;
    border: 1px solid #5DBFC5;
    color: #E1E3E6;
}

button.back-to-data {
    background-color: #90BD31;
    border: 1px solid #749827;
    color: #FFFFFF;
}

button.back-to-data:hover {
    background-color: #B1D16F;
    border: 1px solid #B1D16F;
    color: #E1E3E6;
}

button.plaintext {
    background-color: #F48024;
    border: 1px solid #C4671D;
    color: #FFFFFF;
}

button.plaintext:hover {
    background-color: #F7A665;
    border: 1px solid #F7A665;
    color: #E1E3E6;
}

button.print {
    background-color: #716FB2;
    border: 1px solid #565588;
    color: #FFFFFF;
}

button.print:hover {
    background-color: #9C9AC9;
    border: 1px solid #9C9AC9;
    color: #E1E3E6;
}
/*********************************************/


/****************** TABLES *******************/
div.exam-table-header-border {
    border-bottom-color:#178CCB;
}

div.exam-table-title {
    color:#ffffff;
    background-color: #178CCB;
    border: 1px solid #308EB3;
    color: #ffffff;
}

table.table-borders-report th,
table.table-borders-report tr,
table.table-borders-report td {
    border-color: #506380;
    background-color: #FAFBFB;
}
/*********************************************/


/************  PLAINTEXT REPORT  *************/
pre.plaintext {
    color: #000000;
    background-color: #efefef;
    border-color: #4d4d4d;
}
/*********************************************/