div.exam-table-title {
    color:#ffffff;
    font-size: 18pt;
    font-weight: bold;
    padding: 5px 10px 6px 10px;
    background-color: #308EB3;
    display: inline-block;
} 

div.data-entry-tables-wrapper {
    margin-left:70px;
    margin-right:80px;
}

.btn-link {
    font-size: 1.2em;
}

.report-button {
    width:140px;
    height:40px;
    margin-right:20px; 
}

.procedures {
    width:580px;
    min-width:550px;
    max-width:100%;
}

.exam-num {
    width:50px;
    min-width:50px;
}

.scan-width {
    width:75px;
    min-width:75px;
}

.soc-width {
    width:150px;
    min-width:100px;
}

.close-width {
   width:30px;
   min-width:30px; 
}

.gender-width {
    width:170px;
    min-width:170px;
}

.ede-width {
    width:150px;
    max-width:150px;
    min-width:100px;
}

.timedose-width {
    width:150px;
    max-width:150px;
    min-width:100px;
}

table.table-over {
  width:90%;
  max-width:90%;
  margin-bottom: 20px;
  margin-left:80px;
  border-color:#4d4d4d;
  border-width:1px;
  border-style:solid;  
}

div.data-entry-table {
    margin-bottom:50px;
    border-top-color:#308EB3;
    border-top-width:2px;
    border-top-style:solid;
}

div#consentTextContainer {
    margin:0 80px 40px 70px;
    font-size: 18pt;
}

textarea#consentText {
    margin-top:10px;
    height: 100px;
}

td.totalsRowLabel {
    text-align:right;
    font-weight:bold;
}

label.socLabel {
    font-weight: normal;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}


.table tbody>tr>td.study-number {
    font-size:1.2em;
    font-weight:bold;
}

.table tbody>tr>td.soe-label {
    padding-left:40px;
}

.table tbody>tr>th.exam-headers {
    border-top:0;
    vertical-align: bottom;
    white-space: nowrap;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }

@media screen {

}


