/* LAYOUT AND FORMATTING STYLES */
body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size:10pt;
}

header {
    padding-top: 30px;
    padding-left: 70px;
    padding-bottom:30px;
    padding-left: 70px;
    white-space: nowrap;
}

footer {
    padding-top: 30px;
    padding-left: 70px;
    font-size: 22pt;
    font-weight: bold;
    height: 50px;
}

input[type="text"].ng-invalid,
input[type="number"].ng-invalid,
input[type="email"].ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
    outline: none;
    box-shadow:none !important;
    border-color: red !important;
    border-width: 1px;
}

div#logo {
    display:inline-block;
    margin-right:15px;
    vertical-align: middle;
}

div#title {
    font-size: 22pt;
    font-weight: bold;
    position: relative;
    display:inline-block;
}

div#json-editor-wrapper {
    margin-left:70px;
    max-width:800px;
    min-width:550px;
    padding-top:30px;
}

div.exam-table-title {
    font-size: 18pt;
    font-weight: bold;
    padding: 5px 10px 6px 10px;
    display: inline-block;
}

div.data-entry-tables-wrapper {
    margin-left:70px;
    margin-right:80px;
    min-width:500px;
}

div.report-language-wrapper {
    min-width:500px;
    margin-bottom:30px;
}

div.report-language-title {
    font-weight:bold;
    color:#4d4d4d;
    font-size:16px;
    margin-bottom:8px;
}

p.language-text {
    margin:0;
}

.category {
    font-weight: bold !important;
}

button.btn-link {
    font-size: 1.2em;
}

button.standard-btn {
    min-width:140px;
    height:40px;
    margin-right:20px;
}

button.add-procedure,
button.remove-procedure {
    margin-bottom:15px;
}

button.back-to-data {
}

div#json-editor-wrapper table td.label-json {
    font-weight: bold;
}

div#json-editor-wrapper table td textarea.space {
    height:150px;
}

div#json-editor-wrapper div#dosedata {
    margin-right:10px;
}

td.exam-num {
    width:10px;
}

td.scan-width {
    width:120px;
}

td.scansyear-width {
    width:97px;
}

td.annualede-width {
    width:100px;
}

td.soc-width {
    width:100px;
}

td.close-width {
   width:30px;
}

td.gender-width {
    width:115px;
}

td.ede-width {
    width:100px;
}

td.timedose-width {
    width:95px;
}

table.procedure-totals {
    float: right;
    margin-top: 10px;
    margin-bottom: 50px;
}
table.procedure-totals td.rowlabel {
    text-align: right;
    font-weight: bold;
    padding-right:20px;
    width:300px;
}
table.procedure-totals td.rowvalue {
    text-align: left;
    font-weight: bold;
    width:100px;
}

table.table-over {
    width:100%;
    min-width:500px;
    margin-bottom: 20px;
    border-collapse:none;
    border-spacing:0; 
}

table.table-borders-report th,
table.table-borders-report tr,
table.table-borders-report td {
    border-width: 1px;
    border-style: solid;
    height:30px;
    padding-left:3px;
}

table.table-borders td.total {
    width:150px;
}

td.tooltip-label, th.tooltip-label {
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 10px;
}

td.tooltip-value, th.tooltip-value {
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

div.data-entry-table {
    margin-bottom:80px;
    min-width:500px;
}

div.bottom-border {
    border-bottom-width:2px;
    border-bottom-style:solid;
}

div#consentTextContainer {
    margin:0 80px 40px 70px;
    font-size: 18pt;
}

textarea#consentText {
    margin-top:10px;
    height: 100px;
}

td.totalsRowLabel {
    text-align:right;
    font-weight:bold;
}

label.socLabel {
    font-weight: normal;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}


.table tbody>tr>td.study-number {
    font-size:1.2em;
    font-weight:bold;
}

.table tbody>tr>td.soe-label {
    padding-left:10px;
}

.table tbody>tr>th.exam-headers {
    border-top:0;
    vertical-align: bottom;
}

div.report-wrapper {
    margin-left:70px;
    margin-right:1000px;
    margin-top:20px;
    margin-bottom:20px;
}

div.report-wrapper > div.plaintext {
    font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    min-width: 700px;
    border:2px solid #4d4d4d;
    background-color: #ffffff;
}

div.report-wrapper > div.formatted {
    padding-top:45px;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    min-width: 700px;
    border:2px solid #4d4d4d;
    background-color: #ffffff;
}

div.report-wrapper > pre.tables {
    font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace;
    background-color: #ffffff !important;
    border:0 !important;
}

div.report-wrapper > div.plaintext > div.heading {
    font-weight: bold;
    margin-top:25px;
    margin-bottom:10px;
}

div.button-row {
    white-space: nowrap;
    margin-bottom:30px;
    min-width:500px;
}

img.rad-logo {
    display:inline-block;
    margin-right:15px;
}

div.notice {
    font-size: 1.1em;
    margin-bottom:30px;
}

div.notice-box {
    border: 1px solid #777777;
    padding: 20px;
    margin-left:70px;
    margin-right:80px;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.editor-heading {
    font-size:1.9em;
    font-weight:bold;
    margin-top:50px;
    margin-bottom:20px;
}

.right {
    text-align: right;
}

.fake-btn-link {
    color: #337ab7;
}

div.exambutton {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

button.reset-all {
    float: right;
    border: 0;
    margin-right: 35px;
}

button.icon-left {
    display: inline-block;
    margin-right: 8px;
    font-size: 1.3em;
}

div#consentTextTitle {
    font-size: 0.8em;
}

span.glyphicon-question-sign {
    font-size:1.5em; 
    margin-top:3px;
}

label.reportFormatToggle {
    height:40px; 
    line-height:1.42857143; 
    padding:9px;
}

.tooltip-inner {
    max-width: 350px;
    white-space: pre-wrap;
    text-align: left;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

@media screen {

}


