div.exam-table-title {
    color:#ffffff;
    font-size: 18pt;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    background-color: #308EB3;
    display: inline-block;
} 

div.data-entry-tables-wrapper {
    margin-left:70px;
    margin-right:80px;
}

.form-control {
    border-radius:0;
}

.btn-link {
    font-size: 1.2em;
}

.report-button {
    width:140px;
    height:40px;
    border-radius:0;
}

.procedures {
    width:520px;
}

.exam-num {
    width:50px;
}

.scan-width {
    width:80px;
}

.soc-width {
    width:150px;
}

.gender-width {
    width:175px;
}

.ede-width {
    width:300px;
    float:right;
}

.timedose-width {
    width:150px;
}

div.data-entry-table {
    margin-bottom:50px;
}

div#consentTextContainer {
    margin:0 80px 40px 70px;
    font-size: 18pt;
}

textarea#consentText {
    margin-top:10px;
    height: 100px;
}

td.totalsRowLabel {
    text-align:right;
    font-weight:bold;
}

label.socLabel {
    font-weight: normal;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}


.table tbody>tr>td.study-number {
    font-size:1.2em;
    font-weight:bold;
}

.table tbody>tr>td.soe-label {
    padding-left:40px;
}

.table tbody>tr>th.exam-headers {
    border-top:0;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }

@media screen {

}


