<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen, print" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="js/MathRounding.js"></script>
    <script src="js/app.js"></script>

    <title>Radiation Dose Calculator</title>
</head>
<header>
    <!-- place custom header here -->
    <div id="placeholder-header" style="padding-top: 30px; padding-left: 70px; font-size: 22pt; font-weight: bold; color: #4d4d4d; background-color: #f8f8f9; height: 100px;">
        Radiation Dose Calculator
    </div>
</header>
<body ng-app="RadCalc">
    <div ui-view></div>
</body>
<footer>
    <!-- place custom footer here -->
    <div id="placeholder-footer" style="padding-top: 30px; padding-left: 70px; font-size: 22pt; font-weight: bold; color: #4d4d4d; background-color: #f8f8f9; height: 100px;">
    </div>
</footer>
</html>