<div class="bottom-border exam-table-header-border">
    <div class="btn exambutton exam-table-title" ng-click="newProcedure('NM')">{{getCategoryConfig('NM').name}}</div>
    <button class="btn btn-link no-print" ng-click="newProcedure('NM')">+ Add Exam</button>
</div>
<div class="data-entry-table">
    <table class="table table-hover table-condensed" ng-show="getProcedures('NM').length">
        <tr><th class="exam-headers" ng-repeat="header in getCategoryConfig('NM').headers">{{header}}</th></tr>
        <tr ng-repeat="procedure in getProcedures('NM')">
            <td class="text-center vert-align study-number exam-num">{{$index + 1}}</td>
            <td>
                <select class="form-control" ng-model="procedure.exam" ng-options="procedureInfo.name as procedureInfo.name for procedureInfo in getStoredProcedures('NM')" required>
                    <option value="">Please select procedure...</option>
                </select>
            </td>
            <td class="scan-width"><input class="form-control" type="number" ng-model="procedure.scans" min="1" numbers-only required/></td>
            <td class="soe-label vert-align soc-width">
                <input id="soc.{{procedure.categoryid}}{{procedure.id}}" type="checkbox" style="margin-right:4px;" ng-model="procedure.soc" ng-init="checked=false" />
                <label for="soc.{{procedure.categoryid}}{{procedure.id}}" class="socLabel">Yes</label>
            </td>
            <td class="gender-width">
                <select class="form-control" ng-model="procedure.gender">
                    <option value="mixed" selected>None</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
            </td>
            <td class="timedose-width"><input class="form-control" type="number" ng-model="procedure.injectedDose" numbers-only greater-than-zero required/></td>
            <td class="ede-width"><input class="form-control" type="number" ng-model="procedure.ede" two-decimals value="{{getProcedureEdeCalculation(procedure)}}" ng-readonly="true" /></td>
            <td class="scansyear-width"><input class="form-control" type="number" ng-model="procedure.annualscans" min="1" max="{{procedure.scans}}" numbers-only required/></td>
            <td class="annualede-width"><input class="form-control" type="number" ng-model="procedure.annualede" two-decimals value="{{getProcedureAnnualEdeCalculation(procedure)}}" ng-readonly="true" /></td>
            <td class="text-center vert-align close-width">
               <button type="button" class="close no-print" ng-click="removeProcedure('NM', procedure.id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           </td>
        </tr>
    </table>
    <table class="procedure-totals" style="float:right;" ng-show="getProcedures('NM').length">
        <tr>
            <th>&nbsp;</th>
            <th class="exam-headers">Total</th>
            <th class="exam-headers">Annual</th>
        </tr>
        <tr>
            <td class="rowlabel">Total additional ED</td>
            <td class="rowvalue">{{edeTotalWithoutSOC("NM") | twoDecimalsFilter}}</td>
            <td class="rowvalue">{{edeAnnualTotalWithoutSOC("NM") | twoDecimalsFilter}}</td>
        </tr>
        <tr>
            <td class="rowlabel">Total ED including Standard of Care</td>
            <td class="rowvalue">{{edeTotal("NM") | twoDecimalsFilter}}</td>
            <td class="rowvalue">{{edeAnnualTotal("NM") | twoDecimalsFilter}}</td>
        </tr>
    </table>
</div>