<div ng-controller="DataEntryCtrl">

    <!-- routing navigation -->
    <div class="no-print" style="margin:20px 40px 30px 70px;">
        <button class="btn standard-btn generate-report" ng-click="GenerateReportClicked()">Generate Report</button>
        <button class="btn standard-btn reset-all" confirmed-click="ResetAll()" ng-confirm-click="Reset all tables?">Reset All</button>
    </div>

    <!-- allforms start -->
    <div id="allforms">

        <div class="data-entry-tables-wrapper table-responsive">
            
            <ct-table></ct-table>
            <nm-table></nm-table>
            <xray-table></xray-table>
            <fluoro-table></fluoro-table>
            
        </div>

    </div>
    <!-- allforms end -->

    <div id="consentTextContainer" class="alert-heading">
        <div id="consentTextTitle" class="exam-table-title">Supplemental Consent Language</div>
        <textarea id="consentText" class="form-control" ng-model="supplementalConsentLanguage"></textarea>
    </div>

    <div style="margin:20px 40px 30px 70px;">
        <button class="btn standard-btn generate-report" ng-click="GenerateReportClicked()">Generate Report</button>
    </div>

</div>