<script src="js/lib/FileSaver.js"></script>
<script src="js/lib/angular-sortable-view.min.js"></script>

<div id="json-editor-wrapper">

    <div class="notice">
        <p><strong>Note:</strong> Updated data will not be immediately reflected in the calculator. 
        Please make modifications below, click the <strong>Save</strong> button, and then send the downloaded file to 
        your Radiation Dose Calculator webmaster.</p>
        <p>To add a new procedure to the data file, click the <strong>Add Procedure</strong> button. New procedures 
        will be added to the procedures list in alphabetical order.
    </div>

    <div class="alert alert-warning" role="alert">
        <strong>Editing data should be done by administrators only</strong>
    </div>

    <form name="jsonData" novalidate>

    <div class="button-row no-print">
        <button class="btn standard-btn back-to-data" ng-click="DataEntryClicked()">Back to data entry</button>
        <button id="saveJson" class="btn standard-btn save-json" ng-click="saveJson()" ng-disabled="jsonData.$pristine">Save</button>
        <button class="btn standard-btn green" ng-disabled="showAddForm" ng-click="showAddForm = true"><strong>+</strong> Add Procedure</button>
    </div>

    <!-- Add new procedure starts -->
    <div id="addProcedureForm" ng-show="showAddForm" class="panel panel-default add-procedure">
        <div class="panel-heading add-procedure-heading"><h3 class="panel-title">Add new procedure</h3></div>
        <div class="panel-body add-procedure-body">
            <h4>Select procedure type:</h4>
            <div class="btn-group btn-block" style="margin-bottom:15px;">
                <label class="btn btn-default gray" ng-model="addFormData.categoryid" btn-radio="'CT'">X-ray Computed Tomography</label>
                <label class="btn btn-default gray" ng-model="addFormData.categoryid" btn-radio="'NM'">Nuclear Medicine</label>
                <label class="btn btn-default gray" ng-model="addFormData.categoryid" btn-radio="'XRay'">X-ray</label>
                <label class="btn btn-default gray" ng-model="addFormData.categoryid" btn-radio="'Fluoro'">Fluoroscopy</label>
            </div>
            <div ng-show="addFormData.categoryid" ng-include="addFormData.categoryid"></div>
        </div>
    </div>
    <!-- Add new procedure ends -->

    <!-- Consent Narrative table start -->
    <div class="panel panel-default editor-heading">
      <div class="panel-body section-heading">
        Consent Narrative Information
      </div>
    </div>
    <table class="table">
        <tr>
            <td class="label-json space">Consent Narrative</td>
            <td><textarea class="form-control space" ng-model="storedData.ConsentNarrative" /></td>
        </tr>
        <tr>
            <td class="label-json">Comparison Dose</td>
            <td><input class="form-control" type="number" ng-model="storedData.ComparisonDose" numbers-only /></td>
        </tr>
        <tr>
            <td class="label-json">Comparison Dose Unit</td>
            <td>
                <select class="form-control" ng-model="storedData.ComparisonDoseUnit">
                    <option value="rem">rem</option>
                    <option value="mSv">mSv</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label-json">Effective Dose Type</td>
            <td>
                <select class="form-control" ng-model="storedData.EffectiveDoseType">
                    <option value="Total">Total</option>
                    <option value="Research">Research</option>
                </select>
            </td>
        </tr>
    </table>
    <!-- Consent Narrative table end -->

    <!-- Dose Data tables start -->
    <div class="panel panel-default editor-heading">
      <div class="panel-body section-heading">
        Procedure Information
      </div>
    </div>
    <p>Click a category heading to show the list of procedures. Click the procedure heading to view and edit the information for that procedure.</p>
    <div id="dosedata">
        <accordion>
            <accordion-group class="group-head category" heading="{{getCategoryName(category.name)}}" ng-click="testFunction(category.name)" ng-repeat="category in storedData.DoseData track by category.name">
                <div accordion close-others="false" sv-root sv-part="category.exams">
                    <div accordion-group class="group-head procedure" heading="{{exam.name}}" ng-repeat="exam in category.exams track by exam.name" sv-element>
                        <button class="btn standard-btn remove-procedure" ng-click="removeProcedure(category.name, exam.name); jsonData.$setDirty();">Remove</button>
                        <table class="table">
                            <tr>
                                <td class="label-name">Name:</td>
                                <td class="value-name"><input class="form-control name" type="text" ng-model="exam.name" /></td>
                            </tr>
                            <tr>
                                <td class="label-citation">Citation:</td>
                                <td class="value-citation"><textarea class="form-control citation" type="text" ng-model="exam.citation"></textarea></td>
                            </tr>
                            <tr ng-repeat="property in exam.properties track by property.gender">
                                <td class="label-property">{{property.name}}:</td>
                                <td class="value-property"><input class="form-control property" type="number" ng-model="property.value" numbers-only /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <!-- Dose Data tables end -->

    </form>

</div>


